/target/

*.class
[Tt]humbs.db
.DS_Store
.settings/
.classpath
.project
.factorypath
/bin/
/logs/
/log/
/tomcat*/

# Package Files #
*.jar
*.war
*.ear

# STS (Spring Tool Suite)
.springBeans

# Visual Studio Code (IDE)
.vscode/